[package]
name = "frontend-server"
version = "0.1.0"
authors = ["Pradip Caulagi <caulagi@gmail.com>"]
edition = "2018"

[[bin]]
name = "frontend-server"
path = "src/main.rs"

[dependencies]
bytes = "1.0"
log = "0.4"
pretty_env_logger = "0.4.0"
prost = "0.7"
tokio = { version = "1.0", features = ["macros", "rt-multi-thread"] }
tonic = { version = "0.4", features = ["tls"] }
warp = { version = "0.3", default-features = false }

[build-dependencies]
tonic-build = { version = "0.4" }
