[package]
name = "frontend-server"
version = "0.1.0"
authors = ["Pradip Caulagi <caulagi@gmail.com>"]
edition = "2021"

[[bin]]
name = "frontend-server"
path = "src/main.rs"

[dependencies]
axum = "0.5.13"
bytes = "1.2.1"
prost = "0.10.4"
tokio = { version = "1.20.1", features = ["macros", "rt-multi-thread"] }
tonic = { version = "0.8.0", features = ["tls"] }
tower-http = { version = "0.3.4", features = ["trace"] }
tracing = "0.1.34"
tracing-subscriber = { version = "0.3.15", features = ["default", "env-filter"]}
tracing-futures = "0.2.5"
tracing-attributes = "0.1.22"

[build-dependencies]
tonic-build = { version = "0.7.2" }
