[package]
name = "frontend-server"
version = "0.1.0"
authors = ["Pradip Caulagi <caulagi@gmail.com>"]
edition = "2021"

[[bin]]
name = "frontend-server"
path = "src/main.rs"

[dependencies]
axum = "0.6.18"
bytes = "1.4.0"
prost = "0.11.9"
tokio = { version = "1.28.1", features = ["macros", "rt-multi-thread"] }
tonic = { version = "0.9.2", features = ["tls"] }
tower-http = { version = "0.4.0", features = ["trace"] }
tracing = "0.1.37"
tracing-subscriber = { version = "0.3.17", features = ["default", "env-filter"]}
tracing-futures = "0.2.5"
tracing-attributes = "0.1.26"

[build-dependencies]
tonic-build = { version = "0.9.2" }
