[package]
name = "frontend-server"
version = "0.1.0"
authors = ["Pradip Caulagi <caulagi@gmail.com>"]
edition = "2018"

[[bin]]
name = "frontend-server"
path = "src/main.rs"

[dependencies]
axum = "0.3.1"
bytes = "1.1.0"
prost = "0.8.0"
tokio = { version = "1.13.0", features = ["macros", "rt-multi-thread"] }
tonic = { version = "0.5.2", features = ["tls"] }
tower-http = { version = "0.1.1", features = ["trace"] }
tracing = "0.1.29"
tracing-subscriber = "0.2.5"
tracing-futures = "0.2.5"
tracing-attributes = "0.1.18"

[build-dependencies]
tonic-build = { version = "0.5.2" }
