[package]
name = "quotation-server"
version = "0.1.0"
authors = ["Pradip Caulagi <caulagi@gmail.com>"]
edition = "2018"

license = "MIT"

[[bin]]
name = "quotation-server"
path = "src/main.rs"

[dependencies]
bytes = "1.0.1"
log = "0.4.14"
pretty_env_logger = "0.4.0"
prost = "0.7"
tokio = { version = "1.12.0", features = ["macros", "rt-multi-thread"] }
tokio-postgres = "0.7.3"
tonic = { version = "0.5", features = ["tls"] }

[build-dependencies]
tonic-build = { version = "0.4" }
