[package]
name = "quotation-server"
version = "0.1.0"
authors = ["Pradip Caulagi <caulagi@gmail.com>"]
edition = "2021"

license = "MIT"

[[bin]]
name = "quotation-server"
path = "src/main.rs"

[dependencies]
bytes = "1.1.0"
prost = "0.9.0"
tokio = { version = "1.16.1", features = ["macros", "rt-multi-thread"] }
tokio-postgres = "0.7.5"
tonic = { version = "0.6.2", features = ["tls"] }
tower = "0.4.12"
tower-http = { version = "0.3.2", features = ["trace"]}
tracing = "0.1.34"
tracing-subscriber = { version = "0.3.11", features = ["default", "env-filter"]}
tracing-futures = "0.2.5"
tracing-attributes = "0.1.20"

[build-dependencies]
tonic-build = { version = "0.6.2" }
