apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontendservice
spec:
  selector:
    matchLabels:
      app: frontendservice
  template:
    metadata:
      labels:
        app: frontendservice
    spec:
      containers:
        - name: server
          image: frontendservice
          ports:
            - containerPort: 8080
          readinessProbe:
            initialDelaySeconds: 10
            httpGet:
              path: "/"
              port: 8080
          livenessProbe:
            initialDelaySeconds: 10
            httpGet:
              path: "/"
              port: 8080
          env:
            - name: QUOTATION_SERVICE_HOSTNAME
              value: "quotationservice"
            - name: RUST_LOG
              value: frontend_server=debug,tower_http=trace
          resources:
            requests:
              cpu: 100m
              memory: 64Mi
            limits:
              cpu: 200m
              memory: 128Mi
---
apiVersion: v1
kind: Service
metadata:
  name: frontendservice
spec:
  type: ClusterIP
  selector:
    app: frontendservice
  ports:
    - name: http
      port: 80
      targetPort: 8080
---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: frontendservice-ingress
spec:
  rules:
  - http:
      paths:
      - path: /
        pathType: Prefix
        backend:
          service:
            name: frontendservice
            port:
              number: 80
  ingressClassName: nginx
